*{
    margin: 0;
    padding: 0;}
    

html{
    font-family: 'Montserrat', 'Open Sans', 'Outfit', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}
html{
    scrollbar-width:thin;
    scrollbar-color: rgb(249, 158, 55) rgba(227, 232, 13, 1);
}

body::-webkit-scrollbar {
    width: 0.8rem; /* Ширина всего элемента навигации */
  }
  
  body::-webkit-scrollbar-track {
    background: linear-gradient(90deg, rgba(245,135,7,1) 35%, rgba(240,191,22,1) 74%);/* Цвет дорожки */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(213, 211, 211); /* Цвет бегунка */
    border-radius: 0.5rem; /* Округление бегунка */
    border: 0.1rem solid rgb(137, 137, 137); /* Оформление границ бегунка */
  }

.page{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 35% 55% 10%;
    border-color: aqua;
    justify-content: center;
    align-content: center;
    row-gap: 0.3rem;
    column-gap: 1rem;
}

header{
   grid-column-start: 1;
   grid-column-end: 3;
    background-image: url('../03_img/Шапка_основная\ 1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2rem;
}

header h1{
    width: 100%;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

main{
    grid-column-start: 2;
    grid-column-end: 3;
    /* display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: end;
    flex-wrap: wrap; */

}
.button{
    padding-left: 83rem;
    padding-top: 2rem;
    width: 30rem;
}

.button button{
    width: 15rem;
    height: 3rem;
    background-color: #f8f4e6;
    border-radius: 1rem;
    border-color: #d5d5d5;
    font-size: 1.4rem;
    color:darkblue;
}

.cards_box{
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
    align-content: start;
    padding: 0rem 2rem;
    
}

.card_box{
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    border: 0.1rem solid rgb(198, 196, 196);
    padding: 1rem;
}

.card_img{
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 90%;
}

.card_box a{
    display: block;
    max-width: 15rem;
    margin: auto;
    font-size: 1.4rem;
    text-align: center;
}

footer{
    grid-column-start: 1;
    grid-column-end: 3;
    border-top: 2px solid #d5d5d5 ;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    padding-top: 1rem;
    gap: 1rem;
    padding-right: 1.5rem;
    font-size: 1.5rem;
}

.icons_telegram {
    width: 3rem;
    height: 3rem;
}

.icons_whatsapp{
    width: 3.5rem;
    height: 3.5rem;;
}

footer p{
    margin-right: 1rem;
    text-align: center;
    font-weight: bold;
}

aside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1.5rem;
    overflow: auto;
}

aside h2{
    width: 100%;
    text-align: center;
}

.aside_tbl{
    width: 90%;
    margin-top: 1.5rem;  
    border-spacing: 0 1rem;
}

.aside_tbl td:first-child {
    text-align: right;
}

.aside_tbl td{
    vertical-align: top;
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-size: 1.2rem;
}

.td1{
    border-left: 2px solid #faeaac
    
}